body {
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
  background-color: #F3F7FA;
}

p {
  margin: 0;
}

#beforeLoad {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F7FA;
}